.tooltip-wrap {
  position: absolute;
  top: 70px;
  right: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
}

.tooltip {
  position: relative;
  display: flex;
  padding-left: 10px;
  gap: 5px;
  align-items: center;
  width: 305px;
  max-width: 320px;
  height: 60px;
  border-radius: 5px;
  box-shadow: var(--shadow);
  background-color: var(--white);
}

.tooltip__img {
  height: 20px;
}

.tooltip__close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.tooltip__text {
  width: 100%;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
